@use "variable" as var;

.m-page-title {
  font-size: 1.8rem;
  color: var.$blue;
}

.m-theme-bg {
  background: var.$theme-color;
  color: var.$theme-text-color;
}

.m-remove-a-decoration {
  &,
  &:visited,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
