{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% render_bundle 'base' 'css' %}
  {% block external_header %}
  {% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div class="l-page-container">
    <header class="l-header m-theme-bg">
      <a href='/' class="m-remove-a-decoration">
        <h1>Welcome Django App</h1>
      </a>
    </header>
    <div class="l-content">
      {% block content %}{% endblock %}
    </div>
    <footer class="l-footer">
      This site is produced by Django!
    </footer>
  </div>
  {% render_bundle 'vendor' 'js' %}
  {% render_bundle 'base' 'js' %}
  {% block external_footer %}{% endblock %}
</body>

</html>